<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST API</title>
</head>
<body>
    <a href="http://localhost:8000/api/v1/items">  
        <button>Get Items</button>  
    </a>

    <a href="http://localhost:8000/api/v1/set">  
        <button>Set Item</button>  
    </a>

    <a href="http://localhost:8000/api/v1/delete">  
        <button>Delete Item</button>  
    </a>

    <a href="http://localhost:8000/api/v1/update">  
        <button>Update Item</button>  
    </a>

    <a href="http://localhost:8000/api/v1/fetchItem">  
        <button>Fetch Item</button>  
    </a>

    <a href="http://localhost:8000/api/v1/fetchHistory">  
        <button>Fetch History</button>  
    </a>
</body>
</html>