<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Item</title>
</head>
<body>
<form method="post">

    <label for="key">key:</label>
    <input type="text" id="key" name="key" value="{{ key }}"><br><br>
    <label for="value">value:</label>
    <input type="text" id="value" name="value" value="{{ value }}"><br><br>
    <input type="submit" value="Submit">

    <!-- <label for="key">key:</label>
    <input type="key" name="key" value="{{ key }}"/>
    <input type="submit"> -->
</form>
<!-- <form method="post">
    <input type="value" name="value" value="{{ value }}"/>
    <input type="submit">
</form> -->
<p>Result: {{ result }}</p>
</body>
</html>